<div class="jumbotron container-fluid" id="background">

  <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/savedarticles">Saved articles</a>
  </nav>

  <div id="header" class="row justify-content-md-center">
      <h1>Sweet Good News</h1>
  </div>
  <div id="wrapper">
    <div id="articles">
        {{#each articles}}
          <div id="article" >
            <h3>{{title}}</h3>
            <a href={{link}}>Link</a>
            <p>{{summary}}</p>
            {{#each note}}
              <p>Comment: {{body}}</p>
            {{/each}}
            {{#if saved}}
              <p>This article is saved!</p>
            {{/if}}
            {{#unless saved}}
              <button class="btn btn-warning save" data-id="{{id}}"> Save this article! </button>
            {{/unless}}
            <form class="comment" data-id="{{id}}">
              <div class="form-group">
                <label for="note">Leave some comment!</label>
                <textarea class="form-control" class="body" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        {{/each}}
    </div>
  </div> 

</div>